<h3> {{ title }}</h3>

<form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" action="#">
    <div>
        <label for="username">Name: </label>
        <input type="text" formControlName="username">
    </div>
    
    <div>
        <label for="email">Email: </label>
        <input type="email" formControlName="email">
    </div>

    <div>
        <label for="text">Message: </label><br>
        <textarea formControlName="text" cols="30" rows="10"></textarea>
    </div>
    
    <input [disabled]="!contactForm.valid" type="submit">
</form>